*{
    padding: 0;
    margin: 0;
}
a,select{
    all: unset;
}
body{
    overflow-x: hidden;
    background-color: #111111;

}
/* phones */
    .heroContainer{
        width: 100vw;
        height: 100vh;
        border: 2px solid black;
        background-color:aliceblue;
        position: relative;
        overflow: hidden;
        background-color: #111111;
    }
    .desktopMenu{
        visibility: hidden;
    }
    .slogan{
        visibility: hidden;
   }
    .nav{
        width: 100vw;
        height: 50px;
        background-color: black;
        position: relative;
        padding-top: 20px;
    }
    .logo{
        border: 2px solid white;
        color: white;
        position: relative;
        z-index: 10;
        width: 100px;
        padding-left: 20px;
        font-family: dangrek;
        margin-left: 10px;
    }
    .mobileMenu{
        float: right;
        width: 30px;
        margin-top: -50px;
        margin-right: 25px;
    }
    .mobileMenu:hover{
        cursor: pointer;
    }
    .iphoneHero{
        width: 500px;
        position: absolute;
        bottom: -300px;
        left:-40px;
    }
    .title{
        font-size: 45px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        margin-top: 30px;
        color: #EEEEEE;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 10;
    }
    .shopNow{
        width: 100px;
        height: 30px;
        background-color: #EEEEEE;
        border-radius: 5px;
        font-weight: bold;
        font-family: dangrek;
        border: 0;
        color: black;
    }
    .shopNow:hover{
        cursor: pointer;
        background-color: #CCCCCC;
    }
    .shopNow:active{
        transform: translateY(4px);
    }
    .buttonContainer{
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        z-index: 10;
        position: relative;
    }
    .filterDesktop{
        visibility: hidden;
    }
    .main{
        min-height: 100vh;
        width: 400px;
        color:#BBBBBB;
        font-size: 20px;
        font-weight: 500;
        background-color: #111111;
        margin-left: auto;
        margin-right: auto;
    }
    .search{
        visibility: hidden;
    }
    #filterButton{
        width: 100px;
        height: 30px;
        background-color: #CCCCCC;
        border: 0;
        border-radius: 3px;
        color: #111111;
        font-weight: 600;
    }
    .mobileFilter{
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    /* desktop */
@media only screen and (min-width: 760px){
    .nav{
        width: 100vw;
        height: 50px;
        position: relative;
        padding-top: 20px;
        display: flex;
    }
    .logo{
        border: 2px solid white;
        color: white;
        position: relative;
        z-index: 10;
        width: 100px;
        padding-left: 20px;
        font-family: dangrek;
        margin-left: 10px;
        height: 30px;
    }
    .mobileMenu{
        visibility: hidden;
    }
    .desktopMenu{
        font-size: 22px;
        color: white;
        display: flex;
        justify-content: space-between;
        max-width:1000px;
        min-width:500px;
        margin-left: auto;
        margin-right: auto;
        visibility: visible;
    }
    .desktopMenu > a:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    .hero{
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-top: 50px;
    }
    .iphoneHero{
        width: 500px;
        float: left;
        position: absolute;
        top: -30px;
    }
    .title{
        font-size: 55px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 100px;
        color: #EEEEEE;
        max-width: 480px;
        float: right;
        margin-bottom: 75px;
        text-align: left;
    }
    .buttonContainer{
        position: absolute;
        right: 90px;
        top: 290px;
    }
   .slogan{
        font-size: 20px;
        color: #BBBBBB;
        visibility: visible;
        position: absolute;
        top: 340px;
        right: 300px;
   }
    .shopNow{
        width: 120px;
        height: 40px;
        font-size: 20px;
        background-color: #EEEEEE;
        border-radius: 5px;
        font-weight: bold;
        font-family: dangrek;
        border: 0;
        color: black;
    }
    .shopNow:hover{
        cursor: pointer;
        background-color: #CCCCCC;
    }
    .shopNow:active{
        transform: translateY(4px);
    }
    .heroContainer{
        height:100vh;
        min-width: 1000px;
        max-height: 100vh;
        margin-bottom: 0px;
    }
    .main{
        min-height: 100vh;
        width: 100vw;
        color:#BBBBBB;
        font-size: 20px;
        font-weight: 500;
        margin-top: 40px;
    }
    .filterDesktop{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        visibility: visible;
        display: flex;
    }
    .filterDesktop > label{
        margin-left: 30px;
        margin-right: 10px;
    }
    .filterDesktop > select{
        width: 80px;
        height: 20px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #222222;
        border-radius: 3px;
        color: #CCCCCC;
    }
    .filterDesktop > select:hover{
        cursor: pointer;
    }
    .search{
        margin-top: 40px;
        width:360px;
        margin-left: auto;
        margin-right: auto;
        visibility: visible;
    }
    #phoneSearch{
        width: 150px;
        height: 30px;
        border-radius: 3px;
        padding-left: 5px;
        background-color: #222222;
        color: #CCCCCC;
        border:0px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .price{
        margin-left: 10px;
    }
    #phoneButton{
        width: 90px;
        height: 30px;
        font-weight: 600;
        background-color: #EEEEEE;
        color: #111111;
        border: 0px;
        border-radius: 3px;
    }
    #phoneButton:hover{
        background-color: #BBBBBB;
        cursor: pointer;
    }
    #phoneButton:active{
        transform: translateY(2px);
    }
    input[type="range"] {
        -webkit-appearance: none;
        height: 10px;
        border-radius: 10px;
        background: #222222;
        margin-top: 5px;
    }
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #BBBBBB;
        cursor: ew-resize;
        box-shadow: 0 0 2px 0 #555;
    }
    #filterButton{
        visibility: hidden;
    }
}