*{
    padding: 0;
    margin: 0;
}
a,select{
    all: unset;
}
body{
    background-color: #111111;
    overflow-x: hidden;
}

/* phones */
.filterContainer{
    position: fixed;
    top: 0px;
    z-index: 50;
    width: 100vw;
    height: 101vh;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    color: #BBBBBB;
    font-weight: 600;
    padding-left: 20px;
    overflow-y: scroll;
    overflow-x: hidden;

}
.filterContainer > div{
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 25px;
}
.filterSection{
    width: 250px;
    height: 220px;
    background-color: #222222;
    padding-left: 10px;
    padding-bottom: 10px;
}
label{
    color: gray;
}
.inputContainer > *{
    margin-bottom: 10px;
}
.inputContainer{
    width: 150px;
}
.inputContainer > input{
    margin-right: 20px;
}
.inputContainerColor{
    width:120px;
}
.memory{
    height: 280px;
    margin-bottom: 50px;
}
.inputContainerMemory{
    width: 120px;
}
.inputContainerMemory > input{
    margin-right: 20px;
    margin-bottom: 10px;
}
.minPriceContainer{
    margin-top: 20px;
    display: flex;
}
.minPriceContainer > input{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
}
.maxPriceContainer{
    display: flex;
    margin-top: 20px;
}
.maxPriceContainer > input{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
}
.price{
    min-height: 150px;
    min-width: 280px;
}
.filterColor{
    height: 270px;
}
.inputContainerColor > input{
    margin-right: 20px;
    margin-bottom: 10px;
}
#search{
    width: 220px;
    height: 40px;
    font-weight: 600;
    background-color: #222222;
    border: 0;
    margin-right: 10px;
    padding-left: 5px;
    font-size: 18px;
    color: white;
    border-radius: 3px;
}
#searchBtn{
    width: 90px;
    height: 35px;
    background: lightgray;
    border: 0;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}
.filterTitle{
    margin-bottom: 10px;
    margin-top: 20px;
}
.filterHeader{
    margin-top: 10px;
    padding-bottom: 10px;
}
.hideFilter{
    visibility: hidden;
}
    .cardImage{
        width: 150px;
    }
    .cardImgCon{
        width: 150px;
        height: 150px;
        padding-left:25px;
        padding-right:25px;
        margin-left: auto;
        margin-right: auto;
        background-color: #555;
        border-radius: 5px;
    }
    .colors{
        max-width: 100px;
        padding-left: 10px;
        color: #BBBBBB;
    }
    .mobileNav{
        position: fixed;
        top: 0px;
        z-index: 50;
        width: 100vw;
        height: 500vh;
        background-color: #111111;
        float: none;
        margin-top: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        color: #BBBBBB;
        font-size: 30px;
        text-align: center;
        font-weight: 600;
        padding-top: 40px;
    }
    .hideMobileNav{
        visibility: hidden;
    }
    .closeMobile{
        width: 30px;
        position: absolute;
        right: 20px;
        margin-top: -20px;
    }
    .closeMobile:hover{
        cursor: pointer;
    }
    .mobileNav > a{
        margin-top: 50px;
    }
    #displayPhones{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 200px;
        height: 350px;
        background-color: #222222;
        margin-top: 0.75rem;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    .card:hover{
        cursor: pointer;
        transform: scale(1.05);
        transition: all 0.1s;
    }
    .cardDesc{
        color: #888888;
        font-weight: 600;
        margin-left: 5px;
        margin-right: 5px;
    }
    .card >h3{
        text-decoration: underline;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    .card >*{
        margin-bottom: 10px;
    }
    .heroContainer{
        width: 100vw;
        height: 100vh;
        border: 2px solid black;
        background-color:aliceblue;
        position: relative;
        overflow: hidden;
        background-color: #111111;
    }
    .desktopMenu{
        visibility: hidden;
    }
    .slogan{
        visibility: hidden;
   }
    .nav{
        width: 100vw;
        height: 50px;
        background-color: black;
        position: relative;
        padding-top: 20px;
    }
    .logo{
        border: 2px solid white;
        color: white;
        position: relative;
        z-index: 10;
        width: 100px;
        padding-left: 20px;
        font-family: dangrek;
        margin-left: 10px;
    }
    .mobileMenu{
        float: right;
        width: 30px;
        margin-top: -50px;
        margin-right: 25px;
    }

    .mobileMenu:hover{
        cursor: pointer;
    }
    .iphoneHero{
        width: 500px;
        position: absolute;
        bottom: -300px;
        left:-40px;
    }
    .title{
        font-size: 45px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        margin-top: 30px;
        color: #EEEEEE;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 10;
    }
    .shopNow{
        width: 100px;
        height: 30px;
        background-color: #EEEEEE;
        border-radius: 5px;
        font-weight: bold;
        font-family: dangrek;
        border: 0;
        color: black;
    }
    .shopNow:hover{
        cursor: pointer;
        background-color: #CCCCCC;
    }
    .shopNow:active{
        transform: translateY(4px);
    }
    .buttonContainer{
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        z-index: 10;
        position: relative;
    }

    input[type="range"] {
        -webkit-appearance: none;
        height: 10px;
        border-radius: 10px;
        background: #111111;
        margin-top: 15px;
    }
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #BBBBBB;
        cursor: ew-resize;
        box-shadow: 0 0 2px 0 #555;
    }
    .main{
        min-height: 100vh;
        width: 400px;
        max-width: 100vw;
        color:#BBBBBB;
        font-size: 20px;
        font-weight: 500;
        background-color: #111111;
        margin-left: auto;
        margin-right: auto;
        overflow-y: hidden;
    }
    .mobileFilter{
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    #filterButton{
        width: 100px;
        height: 30px;
        border: 0;
        background-color: #222222;
        color: white;
        font-weight: bold;
    }
    footer{
        height: 50px;
        background-color: black;
        color: #555;
        text-align: center;
        padding-top: 20px;
        margin-top: 30px;
    }
    footer >p{
        margin-bottom: 10px;
    }
    footer > a:hover{
        cursor: pointer;
    }

    /* desktop */
@media only screen and (min-width: 760px){
    #displayPhones{
        flex-direction:row;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        flex-wrap: wrap;
    }

    .card{
        margin-right: 50px;
        margin-bottom: 20px;
    }
    .nav{
        width: 100vw;
        height: 50px;
        position: relative;
        padding-top: 20px;
        display: flex;
    }
    .logo{
        border: 2px solid white;
        color: white;
        position: relative;
        z-index: 10;
        width: 100px;
        padding-left: 20px;
        font-family: dangrek;
        margin-left: 10px;
        height: 30px;
    }
    .mobileMenu{
        visibility: hidden;
    }
    .desktopMenu{
        font-size: 22px;
        color: white;
        display: flex;
        justify-content: space-between;
        max-width:1000px;
        min-width:500px;
        margin-left: auto;
        margin-right: auto;
        visibility: visible;
    }
    .desktopMenu > a:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    .hero{
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-top: 50px;
    }
    .iphoneHero{
        width: 500px;
        float: left;
        position: absolute;
        top: -30px;
    }
    .title{
        font-size: 55px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 100px;
        color: #EEEEEE;
        max-width: 480px;
        float: right;
        margin-bottom: 75px;
        text-align: left;
    }
    .buttonContainer{
        position: absolute;
        right: 90px;
        top: 290px;
    }
   .slogan{
        font-size: 20px;
        color: #BBBBBB;
        visibility: visible;
        position: absolute;
        top: 340px;
        right: 300px;
   }
    .shopNow{
        width: 120px;
        height: 40px;
        font-size: 20px;
        background-color: #EEEEEE;
        border-radius: 5px;
        font-weight: bold;
        font-family: dangrek;
        border: 0;
        color: black;
    }
    .shopNow:hover{
        cursor: pointer;
        background-color: #CCCCCC;
    }
    .shopNow:active{
        transform: translateY(4px);
    }
    .heroContainer{
        height:100vh;
        min-width: 1000px;
        max-height: 100vh;
        margin-bottom: 0px;
    }
    .main{
        min-height: 100vh;
        width: 1300px;
        max-width: 100vw;
        color:#BBBBBB;
        font-size: 20px;
        font-weight: 500;
        margin-top: 40px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .mobileFilter{
        visibility: hidden;
        margin-top: 0px;
    }
    .filterContainer{
        position: relative;
        width: auto;
        height: auto;
        background-color: #333333;
        float: left;
        margin-left: 20px;
        margin-right: 50px;
        visibility: visible;
        padding-top: 0px;
        padding: 20px;
        border-radius: 5px;
        overflow: visible;
        margin-top: 60px;
    }
    .filterSection{
        height: 150px;
    }
    .filterTitle{
        margin-top: 0px;
    }
    .filterContainer > div{
        font-size: 20px;
    }
    .inputContainer{
        width: 230px;
    }
    .filterColor{
        height: auto;
        padding-bottom: 10px ;
    }
    .inputContainerColor{
        width:190px
    }
    .inputContainerMemory{
        width: 200px;
    }
    .inputContainerMemory > input{
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .memory{
        height: auto;
        padding-bottom: 10px;
    }
    .searchContainter{
        display: flex;
        margin-top: 20px;
    }
    .price{
        min-width: auto;
        min-height: auto;
    }
    #search{
        width: 170px;
        height: 25px;
        font-size: 16px;
    }
    #searchBtn{
        width: 70px;
        height: 25px;
    }
    #searchBtn:hover{
        cursor: pointer;
    }   
}